{% extends 'base.html.twig' %}

{% block title %}{{ genre.name }} Films{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="display-4">{{ genre.name }} Films</h1>
        <p class="lead">{{ genre.description }}</p>

        {% if genre.films is not empty %}
            <ul class="list-group">
                {% for film in genre.films %}
                    <li class="list-group-item">
                        <strong>{{ film.name }}</strong>: {{ film.description }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="text-muted">Er zijn nog geen films in dit genre.</p>
        {% endif %}
    </div>
{% endblock %}
